<a href="https://colab.research.google.com/github/pawan-cpu/Learn-Python-with-Pawan-Kumar/blob/main/2022_01_07_pawan_lesson46.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Lesson 46: OOP - Inheritance

---

### Teacher-Student Tasks

In this class, we will first learn about `__repr__()` function and then we will move to a new concept called inheritance which is one of the pillars of object oriented programming.

We are going to learn how a Python class shares its properties with other classes. Inheritance is like the concept of a family where children inherit from their parents.

---

#### Recap

In the previous lesson, we learned how to initialise instance variables of a class `Family` using its constructor. We had also created four objects of this class i.e. `father`, `mother`, `sister` and `brother` and added them to the empty list `parr_family`.

In [8]:
# Create a class 'Family' and initialise its instance variables through a constructor.
class Family:

  def __init__(self, first_name, last_name, age, relation):
    self.first_name = first_name
    self.last_name = last_name
    self.age = age
    self.relation = relation

  # Create a function to generate the full name of a family member.
  def full_name(self):
    return self.first_name.title() + " " + self.last_name.title()

# Create an empty list called 'parr_family' and add the objects for father, mother, sister and brother in the list.

parr_family = []

# Create four objects with their corresponding values:

father = Family('bob', 'parr', 40, 'father')
mother = Family('helen', 'parr', 38, 'mother')
sibling_1 = Family('violet', 'parr', 14, 'sister')
sibling_2 = Family('dash', 'parr', 10, 'brother')

# Append each object to the list
parr_family.append(father)
parr_family.append(mother)
parr_family.append(sibling_1)
parr_family.append(sibling_2)

# Print the attributes of each member using a 'for' loop.
for member in parr_family:
  print("Full Name:", member.full_name(), 
        "\nAge:", member.age, 
        "\nRelation:", member.relation, "\n")

Full Name: Bob Parr
Age: 40
Relation: father

Full Name: Helen Parr
Age: 38
Relation: mother

Full Name: Violet Parr
Age: 14
Relation: sister

Full Name: Dash Parr
Age: 10
Relation: brother

---

#### Task 1: The `__repr__()` Function

What would happen if we try to print the value of an object of a class?

The variables `father, mother, sibling_1, sibling_2` stores the different objects of the `Family` class. What will happen if we try to print the values of these variables?

In [9]:
# S1.1: Print each object of the 'Family' class.
for member in parr_family:
  print(member)

<__main__.Family object at 0x7f5d60d0e190>
<__main__.Family object at 0x7f5d60d0e8d0>
<__main__.Family object at 0x7f5d60d0e690>
<__main__.Family object at 0x7f5d60d0e290>

If we try to print the values of an object of a class, we get some weird output. These outputs represent the location of the object in the memory. Instead of printing the memory location of an object of a class, let's try to print the name of the object for which we need to name an object created. So, how to name an object? Let me show it to you.

To name an object, create a function called `__repr__()` function which gives a string representation to an object of a class.

Suppose for every `Family` object, we want to give the first name of a member as the object name, then we can use the `__repr__()` function.

In [10]:
# S1.2: Demonstrate how to name an object of a class using the __repr__() function.
class Family:

  def __init__(self, first_name, last_name, age, relation):
    self.first_name = first_name
    self.last_name = last_name
    self.age = age
    self.relation = relation

  # create a function, to generate the full name of a family member.
  def full_name(self):
    return self.first_name.title() + " " + self.last_name.title()
  def __repr__(self):
    return 'family class'

Now, let's recreate all the 5 objects again.

In [11]:
# S1.3: Recreate all the 5 objects of the 'Family' class again and print the objects.
father = Family('bob', 'parr', 40, 'father')
mother = Family('helen', 'parr', 38, 'mother')
sibling_1 = Family('violet', 'parr', 14, 'sister')
sibling_2 = Family('dash', 'parr', 10, 'brother')

print(father)
print(mother)
print(sibling_1)
print(sibling_2)

family class
family class
family class
family class

As you can see, we have labeled each object with the first name of a family member, using the `__repr__()` function.

Now, you do the following tasks:

1. Add the `__init__()` method in the `Dog` class which takes an input and stores in an instance variable called `dog_breed`.

2. Add the `__repr__()` function in the `Dog` class which returns the value of the `dog_breed` variable.

3. Recreate the `beagle, husky,` and `golden_retriever` variables such that they store the objects of the `Dog` class. Make sure that you enter the value for the `dog_breed` variable inside the constructor.

4. Print the values of the `beagle, husky,` and `golden_retriever` variables.

In [29]:
# S1.4: Label every object of the 'Dog' class with its breed name.
class Dog:
  num_of_legs = 4
  can_fly = False
  num_of_teeth = 42
  have_beak = False
  lay_eggs = False

  def __init__(self, dog_breed):
    self.dog_breed = dog_breed

  def __repr__(self):
    return self.dog_breed

  def bark(self):
    return "Woof-Woof!"

husky = Dog('Husky')
beagle = Dog('Beagle')
golden_retriever = Dog('Golden Retriever')

print(husky)
print(beagle)
print(golden_retriever)
beagle.bark()

Husky
Beagle
Golden Retriever

'Woof-Woof!'

As you can see, after printing the values of the objects of the `Dog` class, we don't get any weird output because we have provided a string representation to any object of the `Dog` class by using the `__repr__()` function.

Let's start with a new concept of OOP called as **Inheritance** wherein we will see how one class can use the properties of other classes.

---

#### Task 2: The `Person` Class

Let's try to create a very simple application using the OOP approach to manage the teacher and student database consisting of all the teachers and students of your school.

Let's first create a class called `Person` containing name, age and gender attributes. These attributes will be common to both the teachers and the students.

In [13]:
# S2.1 Create the 'Person' class having the 'name', 'age' and 'gender' attributes.
class Person:
  def __init__(self,name,age,gender):
    self.name=name
    self.age=age
    self.gender=gender

After the successful creation of the `Person` class, let's create its object with the name `person1` and instantiate its attributes using its constructor. Inside the constructor, we need to provide the following:

* Name of a person
* Age of that person
* Gender of that person

In [14]:
# S2.2: Create an object of the 'Person' class and retrieve all the attributes.
person1 = Person('Bruce Wayne', 28, 'male')
print("Name: {}\nAge: {}\nGender: {}".format(person1.name, person1.age, person1.gender))

Name: Bruce Wayne
Age: 28
Gender: male

As we have learned in the earlier class, the instance variables of an instance (or object) of a class (in this case `name`, `age`, and `gender`) can be accessed through the dot operator.

Now, we will create two classes called `Teacher` and `Student`. They both will have the following three attributes in common:

* Name of a person
* Age of that person
* Gender of that person

Hence, in order to avoid creating these three attributes twice; one time for the `Teacher` class and another time for the `Student` class, we have created the `Person` class. Later if we want to create another class which also shares the above three attributes, then it can inherit them through the `Person` class. This is called **inheritance**.

Let's study the concept in detail.

---

##### **What is Inheritance?**

In technical terms, the concept of inheritance means sharing the common properties and methods between two or more classes.

The class from which properties are inherited is called the **Parent Class** or **Base Class** and the class which is inheriting the properties is called the **Child Class** or **Derived Class**.

In plain English, you can say that "*The child class inherits the properties of the parent class or the derived class is formed using the base class properties*".

#### Types of Inheritance

The type of inheritance is based on the number of children classes of a base class. There are five types of inheritance but we are going to study only the following two types as they are used most commonly in the majority of the applications:

*   Single-level inheritance
*   Multi-level inheritance

<img src = 'https://drive.google.com/uc?export=view&id=11ea8qGgcWYXyFpzITgfV5331LLTtgBc2' width = 500>

---

#### Task 3: Single-level Inheritance

In single-level inheritance, a child class inherits only from one parent class. The child class can have its variables and functions in addition to the existing properties and methods of the parent class.

Let's create another class called `Teacher` which inherits all the attributes from the `Person` class. The `Teacher` class should have the following attributes, additional attributes, and methods.

**Attributes**

- Name of a teacher

- Age of the teacher

- Gender of the teacher


**Additional Attributes:**

- List of subjects taught by a teacher

- List of grades in the school for which the teacher takes lectures for the above subjects

**Methods:**

- A function to add a new subject

- A function to remove an existing subject

- A function to add a new grade

- A function to remove an existing grade

To create a child class, follow the steps given below:

1. Write the parent class name enclosed within the round brackets, i.e., `()` after the name of the child class as shown in the syntax below.

   **Syntax to create a child class:**  `class ChildClass(ParentClass)`

2. Inherit the properties of the parent class by creating a constructor for the child class followed by calling the constructor of the parent class inside the `__init__()` function.

   There are two ways to call the parent class constructor to inherit the properties/methods of the parent class:

   1. > `ParentClass.__init__(self)`: In this approach, the `self` keyword is necessarily required.

   2. > `super().__init__()`: In this approach, the `self` keyword is not required.

3. Create methods for the child class 

**What is `super()` class?**

`super()` creates a temporary object reference for the parent class so that the variables of the parent class are initialized without using its name explicitly.

Let's create the constructor for the `Teacher` using the class name `super()` keyword.

 **Note** In the child class constructor, we have to initialize only its variables but when the object is created we will ask for the parent class properties as well. Hence the constructor arguments will have variables of the parent class as well as child class.

In [15]:
# S3.1: Create the 'Teacher' class as specified above.
class Teacher(Person):
  
  def __init__(self , name , age , gender , subjects = None , grades = None):  # child class constructor
    super().__init__(name  , age , gender)
    self.subjects = []
    self.grades = []

  def add_subject(self , new_subject):
    if new_subject not in self.subjects:
      self.subjects.append(new_subject)
    else:
      print(f"{new_subject} already exists")

  def remove_subject(self , subject ):
    if subject not in self.subject:
      print(f"{subject} doesn't exist")
    else:
      self.subjects.remove(subject)

  def add_grade(self , new_grade):
    if new_grade not in self.grades:
      self.grades.append(new_grade)
    else:
      print(f"{new_grade} already exists")

  def remove_grade(self , grade ):
    if grade not in self.grade:
      print(f"{grade} doesn't exist")
    else:
      self.grades.remove(grade)

After creating the `Teacher` class (a child class for the `Person` class), let's create its object to see how inheritance works.

In [16]:
# S3.2: Create an object of the 'Teacher' class and retrieve all the 'Person' class attributes with just name, age, gender.
teacher1 = Teacher('Shakuntala Devi', 60, 'female')
print("Name: {}\nAge: {}\nGender: {}".format(teacher1.name, teacher1.age, teacher1.gender))

Name: Shakuntala Devi
Age: 60
Gender: female

As you can see, an object of the `Teacher` class is created having the same attributes as the `Person` class, i.e., `name`, `age` and `gender` which are defined in the `Person` class. You can access them from the `Teacher` class because inside the constructor of the `Teacher` class, you are calling the constructor of the `Person` class 

```
def  __init__ (self, name, age, gender, subjects = None, grades = None):
```

as well as calling the constructor of the `Person` class

```
def  __init__ (self, name, age, gender, subjects = None, grades = None):
  super().__init__(name, age, gender)
```

This makes the first three parameters compulsory, while `subjects` and `grades` are initialised by default with `None` (an empty value).

And we can access and initialise the variables of the parent class and call them using the child class object because we have inherited the parent class attributes in the child class.

Now let's try to access the child class attributes, i.e., `subjects` and `grades` and update them as well.

In [17]:
# S3.3: Get all the subjects taught by the teacher object created above.
teacher1.subjects

[]

It is an empty list. Let's add a new subject, say maths, by calling the `add_subject()` function with `'maths'` as its input.

In [18]:
# S3.4: Add the 'maths' subject to the list of subjects taught by the teacher object created above.
teacher1.add_subject("math")
teacher1.subjects

['math']

From this point, the number of items in the `subjects` list will be the same as the number of times the `add_function()` is called.

Let's get the grades taught by the teacher.

In [19]:
# S3.5: Get all the grades taught by the teacher object created above.
teacher1.grades

[]

It is an empty list. Let's add a new grade, say tenth grade, by calling the `add_grade()` function with `'10'` as its input.

**Note:** Add a grade in the string format so that it is not a measurable entity.

In [20]:
# S3.6: Add grade '10' to the list of grades taught by the teacher object created above.
teacher1.add_grade(10)
teacher1.grades

[10]

Similar to the `subjects` list, the`grades` list is also updated.

You can try to add the same items to `subject` and `grade` lists respectively to check whether the lists can contain repeated items.

In [25]:
# S3.7: Add grade '10' again to the 'grades' list of the above teacher object.
teacher1.add_grade(12)
teacher1.grades

[10, 12]

This time you got a message saying that the grade already exists and after calling the `grades` attribute again, we got only one item in the `grades` list.

---

#### Task 4: The `Student` Class

Let's create another class called `Student` which also inherits from the `Person` class. `Student` class should have the following additional attributes and methods.


**Additional Attributes:**

1. Grade of the student at present

2. Name of the teacher currently teaching the student

3. School fees paid currently by the student


**Methods:**

1. A function to increase the school fees by $5\%$ or any other value of your choice.

**Note:** For the sake of practice, this time inherit the properties of the `Person` class without using the `super()` method.

In [26]:
# S4.1: Create the 'Student' class.
class Student(Person):
  def __init__(self, name, age, gender, grade, class_teacher, school_fee):
    super().__init__( name, age, gender) 
    self.grade = grade
    self.class_teacher = class_teacher
    self.school_fee = school_fee

  def increase_school_fee(self):
    self.school_fee = self.school_fee * 1.05
    return self.school_fee

Now let's create an object of the `Student` class with not just parent class attributes but the `Student` class attributes as well.

In [23]:
# S4.2: Create an object of the 'Student' class and retrieve all the 'Student' class attributes.
student1 = Student('Rahul', 28, 'male', '12', 'Abdul Kalam', 15000)
print("Name: {}\nAge: {}\nGender: {}\nClass Teacher: {}\nSchool Fee: INR {:,}".format(student1.name, 
                                                                                    student1.age, 
                                                                                    student1.gender,
                                                                                    student1.class_teacher,
                                                                                    student1.school_fee))

Name: Rahul
Age: 28
Gender: male
Class Teacher: Abdul Kalam
School Fee: INR 15,000

Try and update the current school fee using the function `increase_school_fee()`.

In [28]:
# S4.3: Increase the school fee and then get the increased school fee paid by the student object created above.
student1.increase_school_fee()

16537.5

As you can see, the school fees paid by the current student have increased as expected.

We will stop here. In the next lesson, we will learn how to create a new class that inherits from the child class using the concept of **Multi-level Inheritance**.

---