<a href="https://colab.research.google.com/github/pawan-cpu/Learn-Python-with-Pawan-Kumar/blob/main/20_12_21_Pawan_Kumar__Applied_Tech_Project_34_copy_v0_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Instructions

#### Goal of the Project

This project is designed for you to practice and solve the activities that are based on the concepts covered in the following lesson:

1. Python Tuples II

---

#### Getting Started

Follow the steps described below to solve the project:

1. Click on the link provided below to open the Colab file for this project.
   
   https://colab.research.google.com/drive/1VFourIED8UMseQW53DwXzqlRn_ELEknz
   
2. Create the duplicate copy of the Colab file. Here are the steps to create the duplicate copy:

    - Click on the **File** menu. A new drop-down list will appear.

      <img src='https://student-datasets-bucket.s3.ap-south-1.amazonaws.com/images/project-share-images/0_file_menu.png' width=500>

    - Click on the **Save a copy in Drive** option. A duplicate copy will get created. It will open up in the new tab on your web browser.

      <img src='https://student-datasets-bucket.s3.ap-south-1.amazonaws.com/images/project-share-images/1_create_colab_duplicate_copy.png' width=500>

     - After creating the duplicate copy of the notebook, please rename it in the **YYYY-MM-DD_StudentName_Project34** format. 

3. Now, write your code in the prescribed code cells.

---

### Activities

#### Activity 1: Changing Tuple Items

Given a few random names stored in the `names_tup` tuple, write a code to remove `raj` from the `names_tup` tuple and then print the tuple after reversing the order of names stored in the `names_tup` tuple.

`names_tup = ('kevin', 'kamal', 'raj', 'prashant', 'albert', 'daniel', 'rahul')`

In [ ]:
# Tuple of random names.
names_tup = ('kevin', 'kamal', 'raj', 'prashant', 'albert', 'daniel', 'rahul')

# Print the contents of the 'names_tup' tuple.
print(names_tup)
# Convert the tuple into a list by passing the 'names_tup' tuple inside the 'list()' function.
names_1st=list(names_tup)
print(names_1st)
# store it in another variable 'names_lst'.

# Remove 'raj' from the 'names_lst' list using the 'remove()' function.
names_1st.remove('raj')
# Convert the list into a tuple by using the 'tuple()' function.
z=tuple(names_1st)
# Print the items of the tuple after reversing their order.
print(sorted(z,reverse=True))

('kevin', 'kamal', 'raj', 'prashant', 'albert', 'daniel', 'rahul')
['kevin', 'kamal', 'raj', 'prashant', 'albert', 'daniel', 'rahul']
['rahul', 'prashant', 'kevin', 'kamal', 'daniel', 'albert']

As we cannot change the contents of a tuple, first we need to convert the tuple into a list, then change the contents of the list and finally change the list back into a tuple.

---

#### Activity 2: Adding Labels to Tuples

Given a few random numbers stored in the `rand_num` tuple, write a code to sort the values in descending order and add labels to the values in the tuple.

In [ ]:
# Tuple containing 30 random integers ranging between 100 and 250.
import random

rand_num =tuple([random.randint(100, 250) for i in range(31)])
rand_num

(136,
 209,
 178,
 169,
 219,
 130,
 167,
 157,
 139,
 110,
 179,
 155,
 103,
 186,
 208,
 135,
 183,
 126,
 230,
 164,
 127,
 187,
 165,
 125,
 171,
 196,
 211,
 106,
 117,
 213,
 246)

In [ ]:
# Display the items of the 'rand_num' tuple in the descending order using the 'sorted()' function.
sorted(rand_num,reverse=True)

[247,
 244,
 242,
 226,
 225,
 222,
 220,
 208,
 207,
 206,
 200,
 193,
 188,
 182,
 180,
 178,
 176,
 168,
 167,
 165,
 156,
 155,
 141,
 141,
 139,
 136,
 133,
 125,
 115,
 113,
 111]

In [ ]:
# Add Labels to the 'rand_num' tuple. 
# Apply the 'tuple()' function on top of the 'enumerate()' function to add labels.
r=tuple(enumerate(rand_num))
print(r)

((0, 136), (1, 209), (2, 178), (3, 169), (4, 219), (5, 130), (6, 167), (7, 157), (8, 139), (9, 110), (10, 179), (11, 155), (12, 103), (13, 186), (14, 208), (15, 135), (16, 183), (17, 126), (18, 230), (19, 164), (20, 127), (21, 187), (22, 165), (23, 125), (24, 171), (25, 196), (26, 211), (27, 106), (28, 117), (29, 213), (30, 246))

---

### Submitting the Project

Follow the steps described below to submit the project.

1. After finishing the project, click on the **Share** button on the top right corner of the notebook. A new dialog box will appear.

  <img src='https://student-datasets-bucket.s3.ap-south-1.amazonaws.com/images/project-share-images/2_share_button.png' width=500>

2. In the dialog box, click on the **Copy link** button.

   <img src='https://student-datasets-bucket.s3.ap-south-1.amazonaws.com/images/project-share-images/3_copy_link.png' width=500>


3. The link of the duplicate copy (named as **YYYY-MM-DD_StudentName_Project34**) of the notebook will get copied 

   <img src='https://student-datasets-bucket.s3.ap-south-1.amazonaws.com/images/project-share-images/4_copy_link_confirmation.png' width=500>

4. Go to your dashboard and click on the **My Projects** option.

   <img src='https://student-datasets-bucket.s3.ap-south-1.amazonaws.com/images/project-share-images/5_student_dashboard.png' width=800>

   <img src='https://student-datasets-bucket.s3.ap-south-1.amazonaws.com/images/project-share-images/6_my_projects.png' width=800>

5. Click on the **View Project** button for the project you want to submit.

   <img src='https://student-datasets-bucket.s3.ap-south-1.amazonaws.com/images/project-share-images/7_view_project.png' width=800>

6. Click on the **Submit Project Here** button.

   <img src='https://student-datasets-bucket.s3.ap-south-1.amazonaws.com/images/project-share-images/8_submit_project.png' width=800>

7. Paste the link to the project file named as **YYYY-MM-DD_StudentName_Project34** in the URL box and then click on the **Submit** button.

   <img src='https://student-datasets-bucket.s3.ap-south-1.amazonaws.com/images/project-share-images/9_enter_project_url.png' width=800>

---